<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jshaz.daigo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EahpEQuzjwy1bF9WjqjVm47h57mv8EsH" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1c95fbe49be044cfe067ba7033374724" />

        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jshaz.daigo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.ClientMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".broadcasts.NetWorkStateReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".client.AddOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ResetPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".broadcasts.OrderUpdateReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".client.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.SettingActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".client.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EULAActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".client.ComplainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".client.SeeLocationActivity" />
        <activity android:name=".client.AMapLocationActivity"></activity>
    </application>

</manifest>